/* SPACESHIP */

.slide-in-elliptic-left-bck {
    -webkit-animation: slide-in-elliptic-left-bck 1.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-elliptic-left-bck 1.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-elliptic-left-bck {
    0% {
        -webkit-transform: translateX(-800px) rotateY(-30deg) scale(6.5);
        transform: translateX(-800px) rotateY(-30deg) scale(6.5);
        -webkit-transform-origin: 200% 50%;
        transform-origin: 200% 50%;
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotateY(0) scale(1);
        transform: translateX(0) rotateY(0) scale(1);
        -webkit-transform-origin: -600px 50%;
        transform-origin: -600px 50%;
        opacity: 1;
    }
}

@keyframes slide-in-elliptic-left-bck {
    0% {
        -webkit-transform: translateX(-800px) rotateY(-30deg) scale(6.5);
        transform: translateX(-800px) rotateY(-30deg) scale(6.5);
        -webkit-transform-origin: 200% 50%;
        transform-origin: 200% 50%;
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotateY(0) scale(1);
        transform: translateX(0) rotateY(0) scale(1);
        -webkit-transform-origin: -600px 50%;
        transform-origin: -600px 50%;
        opacity: 1;
    }
}


/* EMAIL */

.puff-in-ver {
    -webkit-animation: puff-in-ver 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) 1.5s both;
    animation: puff-in-ver 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) 1.5s both;
}

@-webkit-keyframes puff-in-ver {
    0% {
        -webkit-transform: scaleY(2);
        transform: scaleY(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes puff-in-ver {
    0% {
        -webkit-transform: scaleY(2);
        transform: scaleY(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}


/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
}


/* scroll top */

#scrollToTopButton {
    position: fixed;
    bottom: 15px;
    right: 25px;
    cursor: pointer;
    font-size: 2em;
    visibility: hidden;
    transform: scale(0);
    opacity: 0;
    transition: 0.2s;
}

#scrollToTopButton.show {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
}

#scrollToTopButton:hover {
    transform: scale(1.1);
}

#scrollToTopButton p {
    transform: rotate(-45deg);
}


/* underline for footer links */

.footer_links a:before,
.footer_links a:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    height: 1.5px;
    background-color: #007BFF;
}

.footer_links a:before {
    opacity: 0;
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
    transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.footer_links a:after {
    opacity: 0;
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.footer_links a:hover:before,
.footer_links a:hover:after,
.footer_links a:focus:before,
.footer_links a:focus:after {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(4);
}