/* EMAIL */
.puff-in-ver {
    -webkit-animation: puff-in-ver 1.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) 1.1s both;
    animation: puff-in-ver 1.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) 1s both;
}

@-webkit-keyframes puff-in-ver {
    0% {
        -webkit-transform: scaleY(2);
        transform: scaleY(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes puff-in-ver {
    0% {
        -webkit-transform: scaleY(2);
        transform: scaleY(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

/* UNDERLINE FOR FOOTER LINKS */
.foot-links a {
    position: relative;
    color: #007BFF;
    text-decoration: none;
}

.foot-links a:hover {
    color: #007BFF;
}

.foot-links a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background: #007BFF;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s;
}

.foot-links a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}