* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    font-size: 16px;
    color: #444352;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 1.5;
}

::selection {
    background: #007BFF;
    color: #F8F8FF;
}

#container {
    max-width: 1240px;
    margin: 0 auto;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* DON'T REPEAT YOURSELF! */
.header h1,
.header-email a,
.header h3,
.bg-content p,
.exp-info h4,
.pro-desc p {
    font-weight: 300;
}

.name,
.sec-title,
.skills-box h3,
.exp-info h3,
.exp-time h3,
.pro-desc h1,
.foot-copyright,
.foot-links a {
    font-weight: 400;
}

/* HEADER */
.header {
    height: 40em;
    margin: 10em 5em 0;
}

.header h1 {
    padding: 0 0 70px 0;
    font-size: 2.5rem;
    letter-spacing: 0.05rem;
}

.emoji-spaceship {
    display: inline-block;
    position: relative;
}

.emoji-spaceship:after {
    content: "🛸";
    font-size: 1.2em;
    padding-left: 5px;
}

.header p {
    font-size: 2.3rem;
    max-width: 710px;
    line-height: 3.5rem;
    letter-spacing: 0.01rem;
}

.header-email a {
    text-decoration: none;
    color: #444352;
    font-size: 1.5rem;
    letter-spacing: 0.01em;
}

.header-email a:hover {
    color: #F8F8FF;
}

.hand-pointer:before {
    content: "👉";
    font-size: 1.6rem;
    padding: 0 4px;
}

.header h3 {
    padding-top: 50px;
    letter-spacing: 0.05rem;
}

.underline--magical {
    background-image: linear-gradient(120deg, #007BFF 0%, #007BFF 100%);
    background-repeat: no-repeat;
    background-size: 100% .1em;
    background-position: 0 100%;
    transition: background-size .25s ease-in-out;
    display: inline-block;
    padding: 5px 5px;
}

.underline--magical:hover {
    background-size: 100% 95%;
    cursor: pointer;
}

.underline--magical:hover a {
    color: #F8F8FF;
  }

/* MISC */
.sec-container {
    display: flex;
    justify-content: center;
    padding: 100px 0px;
}

.sec-title {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .15rem;
    color: #007BFF;
    margin-right: 60px;
    width: 200px;
    text-align: right;
}

.content-box {
    width: 650px;
}

/* BACKGROUND */
.bg-content p {
    font-size: 1.1rem;
    letter-spacing: .01rem;
    font-family: 'Lato', sans-serif;
    padding: 0 0 15px 0;
}

/* SKILLS */
.skills-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 3.3em;
}

.skills h2 {
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.skills-box ul li {
    list-style-type: none;
}

.skills-box h3 {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.03rem;
}

/* experience */
.exp-boxes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.exp-info {
    width: 50%;
}

.exp-info h3 {
    font-size: 1rem;
    letter-spacing: .03rem;
    text-transform: uppercase
}

.exp-time h3 {
    font-size: 0.9rem;
    letter-spacing: 0.01rem;
    font-family: 'Inconsolata', monospace;
    text-align: right;
}

/* PROJECTS */
.pro-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 130%;
    height: 270px;
    margin-bottom: 4em;
}

.pro-cards:last-child {
    margin-bottom: 0;
}

.pro-img {
    grid-area: 1 / 1 / 4 / 4;
}

.pro-desc {
    grid-area: 1 / 4 / 4 / 6;
}

.pro-img img {
    width: 100%;
    height: auto;
}

.pro-desc {
    padding: 3px 125px 0px 25px;
}

.pro-desc h1 {
    font-size: 1rem;
    letter-spacing: 0.01rem;
    text-transform: uppercase;
}

.pro-desc p {
    padding-top: 5px;
    width: 110%;
}

/* FOOTER */
.foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12em 3em 0;
    padding: 50px 0 50px 0;
}

.foot-date {
    font-family: 'Inconsolata', monospace;
}

.foot-copyright {
    font-size: 1rem;
    letter-spacing: 0.01rem;
    color: #007BFF;
    text-align: center;
    border: 1px solid #007BFF;
    border-radius: 3px;
    padding: 0.3em 1.3em;
}

.foot-links {
    display: flex;
}

.foot-links a {
    margin: 10px;
    text-decoration: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    color: #007BFF;
}
